* {
  border: 1px solid red;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

nav {
  width: 1000px;
  margin: 0 auto;
}
nav ul li {
  display: inline-block;
  margin: 0px 80px;
}

img {
  width: 300px;
  height: auto;
}
