* {
  /* border: 1px solid red; */
  font-family: serif;
}

h1 {
  margin: 20px auto;
  width: 330px;
  font-size: 2.5em;
}

nav {
  width: 1000px;
  margin: 0 auto;
}
nav ul li {
  display: inline-block;
  margin: 0px 80px;
}

h2 {
}

#modernimg {
  width: 100%;
}

h3 {
  padding-top: 1.5rem;
}

.centertext {
  text-align: center;
}

#callus {
  margin-top: -16px;
}

.h3weight {
  font-size: 1.5em;
}

#container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

#local {
  /* flex: left; */
  max-width: 50%;
  display: inline-block;
}

#chef {
  /* flex: right; */
  max-width: 50%;
  display: inline-block;
}

#container section img {
  max-width: 100%;
  display: block;
  max-height: 900px;
}

#container section h3 {
  display: block;
  max-width: 100%;
}

#container section {
  margin: 8px;
}

#container section p {
  max-width: 100%;
  margin: 0;
  text-align: center;
}

footer {
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
  font-style: italic;
}
